{% extends "base.html" %}

{% block content %}
<h1>Id {{ order.number }}</h1> <a href="{% url 'order-update' order.id %}" class="btn btn-warning">Edit Order</a>
  <a href="{% url 'order-delete' order.id %}" class="btn btn-warning">Delete Order</a>

<p>Order price: {{ order.price }}$</p>
<p>Order status: {{ order.status }}</p>
<h2>Plane</h2>
<ul>
  {% for plane in order.flight.all %}
  <li>Plane ID: {{ plane.id }}</li>
    <li>Plane Model: {{ plane.plane_model }}</li>
    <li>Crew Number: {{ plane.crew.number }}</li>
  {% endfor %}
</ul>
{% endblock %}